
.CreateAccount{
  background-color: white;
  height: 100%;
}

.createHead{
  margin: 10px;
  text-align: center;
  font-weight: bolder;
}

.addPhoto{
  border: 1px solid black;
  border-radius: 50%;
  height: 15vh;
  width: 25vw;
  margin: auto;
  display: flex;
}

.addPhoto p {
  margin: auto;
  text-align: center;
}

form {
  display: grid;
}

.formInp{
  display: grid;
  /* flex-direction: row; */
  grid-auto-columns: 2fr;
  margin: 2%;
  height: 5vh;
}

label{
  display: flex;
  flex-direction: row;
}

.formInp input{
  width: 150%;
}

.formInp p{
  width:100%;
}

.formInp select{
  width:50%;
  margin-left: 0;
}

.submt{
  width: 40%;
  margin: 2% auto;
}
